body {
    width: 500px;
    align-content: center;
    background-color: whitesmoke;

}

#game {
    border-radius: 12px;
    background: rgb(186, 218, 219);
    background-image: url("https://i.postimg.cc/VvmnnjGX/blueback.jpg");
    background-repeat: no-repeat;
    background-size: auto 500px;
    text-align: center;
    padding: 10px 10px 30px 10px;
}

h1 {
    color: rgb(14, 51, 53);
    font-family: 'Fredericka the Great', cursive;
}

button {
    width: 80%;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 1.25rem;
    background-color: rgb(58, 119, 121);
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
    background-color: rgb(21, 94, 97);
}

